body {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
    url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Black.woff') format('woff'),
    url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'BERNIER Shade';
    src: url('../fonts/BERNIERShade-Regular.eot');
    src: local('BERNIER Shade Regular'), local('BERNIERShade-Regular'),
        url('../fonts/BERNIERShade-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BERNIERShade-Regular.woff') format('woff'),
        url('../fonts/BERNIERShade-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BERNIER';
    src: url('../fonts/BERNIERRegular-Regular.eot');
    src: local('BERNIER Regular Regular'), local('BERNIERRegular-Regular'),
        url('../fonts/BERNIERRegular-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BERNIERRegular-Regular.woff') format('woff'),
        url('../fonts/BERNIERRegular-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BERNIER Distressed';
    src: url('../fonts/BERNIERDistressed-Regular.eot');
    src: local('BERNIER Regular Regular'), local('BERNIERRegular-Regular'),
        url('../fonts/BERNIERDistressed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BERNIERDistressed-Regular.woff') format('woff'),
        url('../fonts/BERNIERDistressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.banner_content h2 span{
    color: #FF5417;
}
h1 span{
    color: #FF5417;
}
.btn-blue2{
    font-weight:700;
}
.phone{
    margin-left: 25px;
    margin-top: 10px;
}
.phone a{
    padding: 10px 0 0 0!important;
    font-size: 1.1rem!important;
    font-weight:700!important;
}
@media (max-width: 991px) {
	.phone a {
		text-align: center;
	}
}
.navbar-brand img{
    max-height: 70px;
}






h1, h2 {
	font-family: BERNIER Shade;
	font-style: normal;
	font-weight: normal;

}
h1 {
	font-size: 59px;
	line-height: 71px;
	color: #252525;
}
.banner_content h2 {
	font-size: 59px;
	line-height: 71px;
	color: #252525;
}
h3, h4, h5, h6 {
	color: #000;
}
.heading_s2 h2 {
	font-size: 36px;
	line-height: 100%;
}



.nav-link.active {
	color: #FF5417;
	text-decoration: underline;
}
.title-rare {
	font-family: BERNIER Shade;
}
.color-rare {
	color: #FF5518;
}
.about_counter {
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	padding: 24px;
}
.counter_content h3 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
}
.counter_content p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000;
}














.product__item {
	padding: 30px 30px 0px 30px;

	background: #fafafa;
	border-radius: 11px;
	transition: 0.3s;
}
.product__item:hover {
	background-color: transparent;
	transition: 0.3s;
}
.product__item a:hover h3 {
	color: #FF5518;
	transition: 0.3s;
}
.product_quantity {
	min-width: 95px;
	border: 0px;
    margin: 0px;
    border-radius: 0px;
    vertical-align: middle;
}
.product_quantity .qty {
	background: #FFFFFF;
	border: 1px solid #FF5417;
	box-sizing: border-box;
	border-radius: 3px;
	margin: 0 4px;

	float: left;
	width: 45px;
	height: 21px;
    background-color: #fff;
    text-align: center;
    padding: 0;


	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #A6A6A6;
}
.product_quantity .minus,
.product_quantity .plus {
	width: 21px;
	height: 21px;
	margin: 0px;

	background: #FF5518;
	border-radius: 5px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.product__item h3 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;

	color: #000000;

	padding-bottom: 19px;
	transition: 0.3s;
}
.product__item__price {
	font-size: 14px;
	line-height: 17px;
	font-weight: normal;
	color: #000000;
}
.product-only_max {
	max-width: 230px;
	align-items: center;
}















.stock {
	background-color: #EFEFEF;
}
.stock__right {
	position: absolute;
	left: -50px;
	top: -50px;
	width: 213px;
	height: 213px;

	background-color: #fff;
	border-radius: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.stock__right div {
	background-color: #FF5417;
	border-radius: 100%;
	width: 183px;
	height: 183px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: Gilroy;
	font-style: normal;
	font-weight: 900;
	font-size: 51px;
	line-height: 64px;
	/* identical to box height */


	color: #FFFFFF;
}
@media (max-width: 991px) {
	.stock__right {
		top: 0px;
		left: 0px;
	}
}











	.partners .owl-stage {
		display: flex;
		align-items: center;
	}



















.footer {
	background-image: url(../images/footer.jpg);
	background-position: center;
	background-size: cover;
}
.footer__logo {
	max-width: 80px;
}
.footer__line {
	position: relative;
}
.footer__line:before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 10%;
	right: 10%;
	height: 1px;
	background-color: #fff;
}
.footer__link {
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	/* identical to box height */


	color: #FFFFFF;
}
.font-16 {
	font-size: 16px;
	line-height: 19px;
}



.navbar-nav .phone {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.navbar-nav .btn {
	background: none;
	padding: 0px;
	margin: 0px;
	border: 0px;
	text-transform: none;

	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}







.banner_slider p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;

	color: #000000;
}
.carousel-item img {
	max-width: 500px;
}













.modal-title {
	font-size: 36px;
	font-family: BERNIER Shade;
	font-style: normal;
	font-weight: normal;
	color: #333333;
}
.modal-content {
	border: 0px;
	border-radius: 0px;
}
.modal-header {
	border: 0px;

	align-items: center;
	justify-content: center;
	position: relative;
}
.modal-header .close {
	font-size: 42px;
	top: 16px;
	righT: 16px;
	position: absolute;
}
.modal-content .btn {
	border: 0px;
	border-radius: 0px;
	background: none;
	padding: 0px;

	text-decoration: none;
}

.input {
	border: 0px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #A6A6A6;

	background: #F9F9F9;
	border-radius: 15px;
	padding: 20px 30px;
}










.welcome {
	background-image: url(../images/welcome.jpg);
	background-position: center;
	background-size: cover;

	padding: 0px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 200px;
}
.breadcrumb li a, .breadcrumb li {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}
.breadcrumb-item.active {
	color: #000;
}










.category__item {
	padding: 46px 0;
	height: 100%;
}
.category__item img {
	padding: 0 30px;

	transform: scale(1);
	transition: 0.3s;
}
.category__item h3 {
	padding: 0 12px;
}
.category__item:hover img{
	transform: scale(1.05);
	transition: 0.3s;
}
.category__item:hover h3{
	color: #FF5417;
	transition: 0.3s;
}










.all-here {
	background-image: url(../images/bg_cat.jpg);
	background-position: top right;
	background-repeat: no-repeat;

	min-height: 639px;
	background-size: cover;


}

.all-here h2 {
	font-family: BERNIER Distressed;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;

	color: #000000;
}
.all-here p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;

	color: #000000;
}
.all-here__content {
	background-color: #fff;
	border-radius: 15px;
}

@media (max-width: 991px) {
	.all-here__content {
		padding-top: 20px;
	}
}









.product-only__wrapper{
	background-color: #F9F9F9;
	padding-top: 50px;
	padding-bottom: 50px;

}
@media (max-width: 991px) {
	.product-only__wrapper {
		padding-top: 20px;
	}
}
.product-only__wrapper h2 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.product-only__wrapper span {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
.product-only__phone-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
@media (max-width: 991px) {
	.product-only__phone-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
.product-only__phone-wrapper span {
	 font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #000000;
 }
.product-only__phone {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: #FF5417;
}





.product-only .nav-tabs {
	display: flex;
	justify-content: center;

	border: 0px;
}

.product-only .nav-tabs .nav-link {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #A6A6A6;
}

.product-only .nav-tabs .nav-link.active {
	text-decoration: none;
}

.product-only .tab-content p{
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	color: #000000;
}











.basket .product-thumbnail {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.basket .table thead th {
	border: 0px;
}
.basket .shop_cart_table th {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #5E5E5E;
}
.basket .shop_cart_table th, .basket .shop_cart_table td {
	text-align: left;
}
.basket .product-quantity .quantity {
	margin: 0px;
}

.basket .shop_cart_table tbody td {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}

@media (max-width: 991px) {
	.basket .shop_cart_table tbody tr {
		display: flex;
    	flex-direction: column;

		margin-bottom: 80px;
	}
	.basket .shop_cart_table tbody tr td {
		display: flex;
		justify-content: space-between;


	}
	.product-thumbnail:before {
		display: none;
	}
}

.basket .product-remove a {
	width: 28px;
	height: 28px;
	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);

	display: flex;
	justify-content: center;
	align-items: center;
}
.basket .product-remove a img{
	max-width: 16px;
	transition: 0.2s;
}
.basket .product-remove a:hover img{
	transform: scale(1.05);
	transition: 0.2s;
}
.basket .product-remove a:hover{
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
	transition: 0.2s;
}

.table td, .table th {
	border-top: 1px solid #E2FDFF;
}
.basket tfoot {
	border-top: 1px solid #E2FDFF;
}
.basket tfoot td {
	border: 0px;
}
.basket tfoot span {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

.basket h2 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}

.custom_select::before {
	content: "";

	background: url("../images/Polygon1.svg") no-repeat  center;
	background-size: 12px;
	width: 18px;
	height: 18px;

}
.custom_select select {
	border: 0px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #A6A6A6;
	background: #F9F9F9;
	border-radius: 15px;
	padding: 20px 30px;
}
.custom_select select:focus {
	outline : none;
}









.about {


}
@media (max-width: 991px) {
	.about  {
		padding-bottom: 0px;
	}
}
.about h2 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 136.5%;
	text-transform: uppercase;
	color: #000000;
}
.about p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.about_rare {
	background-color: #F7FDFD;
	min-height: 420px;

	background-image: url("../images/534543543543531.png");
	background-repeat: no-repeat;
	background-position: top left;
}
@media (max-width: 991px) {
	.about_rare {
		background: none;
	}
}

.about__content {
	background-image: url("../images/grgrrr.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 350px;
	padding: 30px 150px 30px 24px;
}
@media (max-width: 1350px) {
	.about__content {
		padding: 30px 24px;
	}
}
.about__content  p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;

	color: #FFFFFF;
}















.contacts h2 {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	padding-bottom: 26px;
	color: #000000;
	margin: 0px;
}
.contacts span, .contacts a {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	margin-bottom: 10px;
}


.contacts_rare span {
	display: block;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;

	margin: 0px;
	padding-bottom: 18px;
}
.contacts_rare .link__phone {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;

	margin-bottom: 18px;
}
.contacts_rare .link__phone:hover {
	color: #FF5417;
}

.contacts_rare .link__mail {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #FF5417;
}
.contacts_rare .link__mail:hover {
	color: #000;
}



.checkbox {
	display: block;

	cursor: pointer;
}
.checkbox input {
	display: none;
}
.checkbox input + span {
	display: inline-block;
	padding: 12px 25px;
	background-color: #fff;
	border: 1px solid #FF5417;
	border-radius: 50px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;

	color: #000;
	transition: 0.3s;
}
.checkbox input:checked + span {
	background-color: #FF5417;
	color: #fff;
	transition: 0.3s;
}
